{% extends 'base.html.twig' %}

{% block title %}ShiftMate, ¡Adiós al papeleo!{% endblock %}

{% block body %}

<a href="{{ path('login') }}">Iniciar Sesion</a>
<a href="{{ path('register') }}">Crear Cuenta</a>

{% endblock %}
