{% extends 'base.html.twig' %}

{% block title %}Create your account{% endblock %}

{% block body %}

{% if error %}
<div class="alert alert-error shadow-lg">
    <div>
        <span>{{ error }}</span>
    </div>
</div>
{% endif %}

{% if user_created %}
<div class="alert alert-success shadow-lg">
    <div>
        <span>Your account has been created!, <a href="/login">click to login</a></span>
    </div>
</div>
{% endif %}

<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Create your account</h2>
            <p class="mt-2 text-center text-sm text-gray-600">
            Or
            <a href="/login" class="font-medium text-indigo-600 hover:text-indigo-500"> Login </a>
            </p>
        </div>

        {{ form(form) }}
        </div>
</div>

{% endblock %}